//- For more information about Pug, please checkout
//- https://pugjs.org/api/getting-started.html
//- https://naltatis.github.io/jade-syntax-docs

extends layout

block append head
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery/jquery-1.7.min.js")
    script(src="/javascripts/chat.js")

block content
    div.container
        div.row
            h4= title
