//- For more information about Pug, please checkout
//- https://pugjs.org/api/getting-started.html
//- https://naltatis.github.io/jade-syntax-docs

doctype html
html
    block head
        title= title
        link(rel="stylesheet", href="stylesheets/style.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    body
        block content

