doctype html
html
    block head
        title Realtime Web Chat
        link(rel="stylesheet", href="stylesheets/style.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    body
        block content

